header{
    background-image: url("https://cdn-yams.godt.no/api/v1/godt-recipe/images/cc/cca1ee47-8311-4224-a9d9-c077b9f7bca4?rule=w4000_auto");
    padding: 70px;
    text-align: center;
    color: white;
}
h1{
    font-weight: bold;
    color: #fff;
    font-size: 50px;
  }
nav{
    display: inline;
}