header{
    background-image: url("https://cdn-yams.godt.no/api/v1/godt-recipe/images/cc/cca1ee47-8311-4224-a9d9-c077b9f7bca4?rule=w4000_auto");
    padding: 100px;
    text-align: center;
    color: white;
    background-size: cover;
}
h1{
    font-weight: bold;
    color: #fff;
    font-size: 50px;
  }

  .meny{
    display: flex;
    background-color: #333333;
    width: 100%;
    margin: 0%;
    justify-content: center;
    text-align: center;
    justify-content: center
  }

 .meny li{
    list-style-type:none;
    padding: 10px;
    overflow: hidden;
    color: white;  
    width: 100%;
 }

.meny li a{
    text-align: center;
    padding: 16px;
    text-decoration: none;
    color: white;
}

.card{
    display: block;
    width: 100%;
    margin-bottom: 20px;
    justify-content: center
    }

.card article{
  display: flex;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.card h3{
  display: inline-block;
  background-color:#333333;
    color: white; 
    padding: 50px 40px; 
    text-align: center;
    text-decoration: none;
    border-radius: 5px; 
    cursor: pointer; 
    margin: 20px;
}

.card h3 a{
  text-decoration: none;
  color: inherit;
}

#container {
  flex-wrap: wrap;
  display: flex;
}

aside {
  flex: 1;
  padding: 20px;
  background-color: #f4f4f4;
  margin-left: 20px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

footer a {
  color: white;
  text-decoration: underline;
}

.google{
  display: inline-block;
  background-color:#333333;
    color: wheat; 
    padding: 50px 40px; 
    text-align: center;
    text-decoration: none;
    border-radius: 5px;  
    cursor: pointer; 
    margin: 20px;
}







