header{
    background-image: url("https://cdn-yams.godt.no/api/v1/godt-recipe/images/cc/cca1ee47-8311-4224-a9d9-c077b9f7bca4?rule=w4000_auto");
    padding: 70px;
    text-align: center;
    color: white;
}
h1{
    font-weight: bold;
    color: #fff;
    font-size: 50px;
  }

  .meny{
    display: flex;
    background-color: #333333;
    width: 70%;
    margin: 0%;
  }

 .meny li{
    list-style-type:none;
    padding: 10px;
    overflow: hidden;
    color: white;  
 }

.meny li a{
    text-align: center;
    padding: 16px;
    text-decoration: none;
    color: white;
}

.card{
    display: block;
    width: 100%;
    margin-bottom: 20px;
    }

.card article{
  display: flex;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.card h3{
  display: inline-block;
  background-color:white; 
    color: black; 
    padding: 50px 40px; 
    text-align: center;
    text-decoration: none;
    border-radius: 5px; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
    cursor: pointer; 
    transition: background-color 0.3s ease;
    margin: 10px;
}

.card h3 a{
  text-decoration: none;
  color: inherit;
}

@media (max-width: 768px) {
  main {
      flex-direction: column;
  }

  .card, .meny {
      margin: 0;
      margin-bottom: 20px;
  }
}

/* For very small screens (e.g., mobile devices) */
@media (max-width: 480px) {
  .card, .meny {
      padding: 10px;
      font-size: 14px;
  }
}

.aside aside{
  flex: 1;
  padding: 20px;
  margin: 10px;
}





